* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  margin-bottom: 200px;
  min-height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
}

/*////////////////////*/
/** All Card content */
/*////////////////////*/


.current-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  min-height: 214px;
  width: 95%;
  border-radius: 19px;
  margin-top: 100px;
  padding: 30px;
}

.xinfo-container {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

}

.photo-text {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card-current-text {
  text-align: start;
  align-items: flex-start;
  height: 100px;
  width: 160px;
}

.card-current-img {
  height: 150px;
}


.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  width: 24%;
  padding: 25px;
  border-radius: 19px;
  margin: 5px 2px;
}

.forecastImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

/*////////////////////*/
/** Media queries */
/*////////////////////*/


@media (max-width: 810px) {
  .card {
    width: 49%;
  }
}

@media (max-width: 510px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    width: 100%;
  }

  .current-container {
    min-height: 240px;
  }

  .xinfo-container {
    gap: 20px;
}

.photo-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.card-current-text {
text-align: center;
}
}

@media (max-width: 375px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }

  .current-container {
    width: 100%;
    height: 100%;
  }

  .photo-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .card-current-text {
 text-align: center;
  }

  .card-current-img {
    height: center;
  }


  .info div p.header-litle-text,
  .info div p.header-bold-text {
    text-align: left;
    font-size: 18px;
  }

  .card-container {
    width: 100%;
  }

  .xinfo-container {
    gap: 10px;
}
}
